<!DOCTYPE html>
<html>

<head>
    <title>TwitterGDB</title>
</head>

<body>
<h1>TwitterGBD</h1>

<h2>Search By City</h2>
<form action="{% url 'cs179:results' %}" type="get">
    <input type="text" name="city" placeholder="city..."/>
    <select name="state">
        <option value="AL">Alabama</value>
        <option value="AK">Alaska</value>
        <option value="AZ">Arizona</value>
        <option value="AR">Arkansas</value>
        <option value="CA" selected="selected">California</value>
        <option value="CO">Colorado</value>
        <option value="CT">Connecticut</value>
        <option value="DE">Delaware</value>
        <option value="FL">Florida</value>
        <option value="GA">Georgia</value>
        <option value="HI">Hawaii</value>
        <option value="ID">Idaho</value>
        <option value="IL">Illinois</value>
        <option value="IN">Indiana</value>
        <option value="IA">Iowa</value>
        <option value="KS">Kansas</value>
        <option value="KY">Kentucky</value>
        <option value="LA">Louisiana</value>
        <option value="ME">Maine</value>
        <option value="MD">Maryland</value>
        <option value="MA">Massachusetts</value>
        <option value="MI">Michigan</value>
        <option value="MN">Minnesota</value>
        <option value="MS">Mississippi</value>
        <option value="MO">Missouri</value>
        <option value="MT">Montana</value>
        <option value="NE">Nebraska</value>
        <option value="NV">Nevada</value>
        <option value="NH">New Hampshire</value>
        <option value="NJ">New Jersey</value>
        <option value="NM">New Mexico</value>
        <option value="NY">New York</value>
        <option value="NC">North Carolina</value>
        <option value="ND">North Dakota</value>
        <option value="OH">Ohio</value>
        <option value="OK">Oklahoma</value>
        <option value="OR">Oregon</value>
        <option value="PA">Pennsylvania</value>
        <option value="RI">Rhode Island</value>
        <option value="SC">South Calorina</value>
        <option value="SD">South Dakota</value>
        <option value="TN">Tennessee</value>
        <option value="TX">Texas</value>
        <option value="UT">Utah</value>
        <option value="VT">Vermont</value>
        <option value="VA">Virginia</value>
        <option value="WA">Washington</value>
        <option value="WV">West Virginia</value>
        <option value="WI">Wisconsin</value>
        <option value="WY">Wyoming</value>
    </select>
    <br>
    <input type="submit" value="search" />
</form>
</body>
</html>
