<!DOCTYPE html>
<html>

<head>
    <title>TwitterGDB</title>
</head>

<body>
<h1>TwitterGBD</h1>

<h2>Search By City</h2>
<form action="{% url 'cs179:results' %}" type="get">
    <input type="text" name="city" placeholder="city..."/>
    <select name="state">
        <option value="AL">Alabama</value>
        <option value="AK">Alaska</value>
        <option value="AZ">Arizona</value>
        <option value="AR">Arkansas</value>
        <option value="CA" selected="selected">California</value>
        <option value="CO">Colorado</value>
        <option value="CT">Connecticut</value>
        <option value="DE">Delaware</value>
        <option value="FL">Florida</value>
        <option value="GA">Georgia</value>
        <option value="HI">Hawaii</value>
        <option value="ID">Idaho</value>
        <option value="IL">Illinois</value>
        <option value="IN">Indiana</value>
        <option value="IA">Iowa</value>
        <option value="KS">Kansas</value>
        <option value="KY">Kentucky</value>
        <option value="LA">Louisiana</value>
        <option value="ME">Maine</value>
        <option value="MD">Maryland</value>
        <option value="MA">Massachusetts</value>
        <option value="MI">Michigan</value>
        <option value="MN">Minnesota</value>
        <option value="MS">Mississippi</value>
        <option value="MO">Missouri</value>
        <option value="MT">Montana</value>
        <option value="NE">Nebraska</value>
        <option value="NV">Nevada</value>
        <option value="NH">New Hampshire</value>
        <option value="NJ">New Jersey</value>
        <option value="NM">New Mexico</value>
        <option value="NY">New York</value>
        <option value="NC">North Carolina</value>
        <option value="ND">North Dakota</value>
        <option value="OH">Ohio</value>
        <option value="OK">Oklahoma</value>
        <option value="OR">Oregon</value>
        <option value="PA">Pennsylvania</value>
        <option value="RI">Rhode Island</value>
        <option value="SC">South Calorina</value>
        <option value="SD">South Dakota</value>
        <option value="TN">Tennessee</value>
        <option value="TX">Texas</value>
        <option value="UT">Utah</value>
        <option value="VT">Vermont</value>
        <option value="VA">Virginia</value>
        <option value="WA">Washington</value>
        <option value="WV">West Virginia</value>
        <option value="WI">Wisconsin</value>
        <option value="WY">Wyoming</value>
    </select>
    <br>
    <input type="submit" value="search" />
</form>
</body>
</html>

<html>
  <head>
	

    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {
        'packages': ['geochart', 'table']
      });
     google.setOnLoadCallback(changeData);

	var currentRegion;
	var data;
	var list = {{citydata|safe}};
        var list2 = {{twitterdata|safe}}


    // INCOME DATA
      function changeData() {

        //var datafromDjango = {{ mydata|safe }};
        //console.log(dataFromDjango);

          data = google.visualization.arrayToDataTable( {{ statedata | safe}});
        //data.addRows(datafromDjango);
        /*data = google.visualization.arrayToDataTable([
            {% for datum in datafromDjango %}
            {{datum }}
            {% endfor %}
        ], false);*/

	var table = new google.visualization.Table(document.getElementById('table'));
	table.clearChart();

        var options = {
          colorAxis: {
            colors: ['FB0094', '99ABFD', '0048FE']
          },
          region: 'US',
          displayMode: 'regions',
          resolution: 'provinces',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);


        var geochart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(geochart, 'regionClick', function(eventData) {
          currentRegion = eventData.region;
          options['region'] = eventData.region;
          options['resolution'] = 'provinces';


          if (currentRegion.substring(0, 3) == "US-") {
            options['displayMode'] = 'markers';

		var table_list = [ ['City', 'Average Income', 'Population'] ];
		var new_list = [ ['City', 'Income'] ];
		for (var i=0, l=list.length; i<l; i++) {
			if (list[i][0].endsWith(currentRegion.substring(3,6))) {
				var temp = [];
				temp.push(list[i][0]);
				temp.push(list[i][1]);
				new_list.push(temp);
			}
		}		
            var data = google.visualization.arrayToDataTable( new_list);

		for (var i=0, l=list.length; i<l; i++) {
			if (list[i][0].endsWith(currentRegion.substring(3,6))) {
				var temp = [];
				temp.push(list[i][0]);
				temp.push(list[i][1]);
				temp.push(list[i][2]);
				table_list.push(temp);
			}
		}	
            
	  }

          geochart.draw(data, options);
	
		var tabledata = google.visualization.arrayToDataTable(table_list);	
	  table.draw(tabledata,null);


        });
        geochart.draw(data, options);

      };


      // Twitter Data
      function drawRegionsMap() {

        data = google.visualization.arrayToDataTable([
          ['State', 'Select'],
          ['US-CA', 1100],
          ['US-AL', 250],
          ['US-AK', 100],
          ['US-AR', 320],
          ['US-AK', 0],
          ['US-AZ', 0],
          ['US-Colorado', 0],
          ['US-CO', 700],
          ['US-DE', 0],
          ['US-FL', 0],
          ['US-HI', 800],
          ['US-KS', 0],
          ['US-KY', 17],
          ['US-MI', 0],
          ['US-MO', 211],
          ['US-MS', 0],
          ['US-MT', 0],
          ['US-NE', 0],
          ['US-NJ', 345],
          ['US-NM', 0],
          ['US-NY', 0],
          ['US-OR', 0],
          ['US-PA', 150],
          ['US-TX', 0],
          ['US-UT', 0],
          ['US-VA', 0],
          ['US-WA', 0],
          ['US-WV', 0],
          ['US-WY', 0]
        ]);

	var table = new google.visualization.Table(document.getElementById('table'));
        table.clearChart();

        var options = {
          region: 'US',
          displayMode: 'regions',
          resolution: 'provinces',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);


        var geochart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(geochart, 'regionClick', function(eventData) {
          currentRegion = eventData.region;
          options['region'] = eventData.region;
          options['resolution'] = 'provinces';

          if (currentRegion.substring(0, 3) == "US-") {
            options['displayMode'] = 'markers';

		

		var new_list = [ ['City', 'Average Grade'] ];
		for (var i=0, l=list2.length; i<l; i++) {
			if (list2[i][0].endsWith(currentRegion.substring(3,6))) {
				var temp = [];
				temp.push(list2[i][0]);
				temp.push(list2[i][1]);
				new_list.push(temp);
			}
		}		
            var data = google.visualization.arrayToDataTable( new_list);
            
          
	    table.draw(data,null);

	}

          geochart.draw(data, options);


        });
        geochart.draw(data, options);

      };
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </body>
<div style="float:left">
  <div id="chart_div"></div>
  <button class="reset" onClick="drawRegionsMap();$('#table').html('');">Twitter Info</button>
  <button class="reset" onClick="changeData();$('#table').html('');">Income Data</button>
</div>

<div class='city-data'>
  <div id="table" style="width: 500px; height: 600px;"></div>
</div>
</html>
